################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevicesGestion/.vs/DevicesGestion
debug
obj
bin
